@use '../abstracts' as *;

.featured-product {
  .title {
    margin-bottom: 1.5rem;
  }

  .products {
    max-width: 400px;
    margin-inline: auto;

    @include medium {
      max-width: 100%;
    }
  }
}

// Breakpoints for the products
@include medium {
  .products {
    @include grid(repeat(2, 1fr), map-get($gap-map, 'gap-6'));
    column-gap: map-get($gap-map, 'gap-2');
  }
}

@include large {
  .products {
    @include grid(repeat(3, 1fr), map-get($gap-map, 'gap-6'));
    column-gap: map-get($gap-map, 'gap-2');
  }
}
