:root {
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(29, 42%, 63%);
  --accent-color: hsl(145, 10%, 33%);
  --text-color: hsl(0, 0%, 20%);
  --card-color: hsl(0, 0%, 94%);
  --bg-color: hsl(0, 0%, 97%);
  --light-color: hsl(0, 0%, 100%);
  --dark-color: hsl(0, 0%, 11%);
  --link-color: hsl(201, 56%, 36%);
  --success-color: hsl(120, 100%, 25%);
  --error-color: hsl(0, 100%, 50%);
  --warning-color: hsl(39, 100%, 50%);
  --info-color: hsl(0, 0%, 24%);
}
