@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

//FONT FAMILY
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// FONT SIZES
$font-size-xs: 0.75rem; // Extra small font size
$font-size-sm: 0.875rem; // Small font size
$font-size-md: 1rem; // Medium font size
$font-size-base: 1.125rem; // Base font size
$font-size-lg: 1.25rem; // Large font size
$font-size-xl: 1.5rem; // Extra large font size
$font-size-xxl: 1.875rem; // Double extra large font size

$font-size-h1: 2.5rem; // Heading 1 font size
$font-size-h2: 2rem; // Heading 2 font size
$font-size-h3: 1.75rem; // Heading 3 font size
$font-size-h4: 1.5rem; // Heading 4 font size
$font-size-h5: 1.25rem; // Heading 5 font size
$font-size-h6: 1.125rem; // Heading 6 font size
