@use '../abstracts' as *;

.categories {
  margin-bottom: 2rem;

  .d-flex {
    @include flex(center, center);
  }

  .category {
    @include flex(center, center);
    flex-direction: column;
    height: 4rem;
    width: 4rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: $radius-rounded;
    cursor: pointer;
    transform: scale(0.8);
    overflow: hidden;
  }

  p {
    text-transform: capitalize;
    font-size: $font-size-sm;
    max-height: 0;
    transform: translateY(1.2rem);
  }

  .icon {
    margin-bottom: 0.3rem;
    font-size: 2rem;
  }
}
